<!DOCTYPE html>
<html>
<head>
  <title>connections</title>
  
   <meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../assets/styling.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body >


<%- include ('./partials/header.ejs') %>

<%- include ('./partials/nav.ejs') %>
    
<main id="mainelem">
    <div>
    <p>My travel & photography blog has become part of my journey to see the world in a new way and I’m pleased to share that vision with you. I love what I do, as well as the people and places I photograph. Each person and every place has its own story. But sometimes the best stories are the ones you star in.</p>
    <p>
        So here I am on the road to discover the world around me and to take a whole lotta photos while I’m at it. There is a big world out there and it is calling.

        Throughout much of my adult life, I’ve been travelling, seeking adventure and ways to learn from and interact with cultures which are very different from my own. Photography became a great excuse to look deeper and to make my experiences more intense.
        
    </p>
    <p>I usually find my subjects by chance, while I travel. But, I'm particularly drawn to ancient traditions which are still surviving and evolving. To stories of people working in unique, challenging environments and those who live in close bond with nature.</p>
     <p> My main goal as a photographer is to create the kinds of images which combine a strong sense of story and convey what it felt like to be with the people I met in the places I visited.</p>  
    <p>Throughout much of my adult life, I’ve been travelling, seeking adventure and ways to learn from and interact with cultures which are very different from my own. Photography became a great excuse to look deeper and to make my experiences more intense.</p>
    <p>See you out there.
        <br>
       <b> Arjun Bharadwaj</b>
        </p>

    </div>

</main >

<%- include ('./partials/footer.ejs') %>

  </body >
  </html>