<!DOCTYPE html>
<html>
<head>
  <title>connections</title>
  
   <meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../assets/styling.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body >


<%- include ('./partials/header.ejs') %>

<%- include ('./partials/nav.ejs') %>
    
<main id="mainelem">
    <div>
    <h2>SAY HELLO!!</h2>
    <p>I’d love to hear from you if you have any comments, suggestions, ideas, criticism, or winning lottery numbers.</p>
    <p>
    Please understand that I am already having a difficult time keeping up with my emails so if what you are writing to me about is regarding a blog post or page, please leave the comment on that post as it will be of benefit to all who read it.    
    </p>
    <p>Business emails are of course welcome and can be sent to info @ <b>bharadwaj0995@gmail.com</b> or Mobile : <b>(704)-756-4491</b></p> 
    <p>To discuss your creative project requirements, image library development or editorial opportunities on The Wandering Lens, please free feel to reach out to me using the above email-ID or through Mobile</p>
    <p>As a travel photographer, I am on the road a lot and, therefore, do not always have internet access so I may take a few days to reply. I prioritize client and business-related emails over the rest of the emails in my inbox, but I do my very best to reply to everyone.</p>
    <p>Thanks for understanding!</p>
    <p><em>Based in India/USA</em></p>
    <p></div>

</main >

<%- include ('./partials/footer.ejs') %>

  </body >
  </html>