<div class="header">
    <a href="index" ><img  alt="Logo" src="../../assets/images/ogo-camera.jpg"></a>
      <h1 id="headname">Shutters by Travelgram-The World of Visual Wonders©</h1>
    <div class="header-right">
      <a class="active" href="newConnection">Start a New Connection</a>
      <a href="contact">Contact</a>
      <a href="about">About</a>
      <a href="SavedConnections">My Connections</a>
      <a href="index">Signout</a>
      
    </div>
  </div>