<!DOCTYPE html>
<html>
<head>
  <title>index</title>
  <meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../assets/styling.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<%- include ('./partials/header.ejs') %>

<%- include ('./partials/nav.ejs') %>

<main>
    <!--Start image Slection-->
    <section id="slideshow">
        <section id = "content">

<h1 id="fontH1">Need a home for your travel photos?</h1>
<h2>GET INSPIRED BEFORE YOUR NEXT TRIP</h2>
            <h3>Start learning & Improve Your Skills</h3>
            <p style="font-family:sans-serif">Sign up for our free 1 month trial to the Photography Workshop</p> 
            <p style="font-family:courier;">Travel isn’t always pretty. It isn’t always comfortable. Sometimes it hurts, it even breaks your heart. But that’s okay. 
              <br>
            The journey changes you; it should change you. It leaves marks on your memory, on your consciousness, on your heart, and on your body. <br>You take something with you. Hopefully, you leave something good behind.</p>


            <button onclick="window.location.href = 'connections';" class="button button1">Learn more Tips of Photography</button>
    </section>
    <img id = "slide" src = "../../assets/images/camera.jpg" alt="backgroundlogo">
    </section>
    <!--End of Image Selection-->
</main>

<%- include ('./partials/footer.ejs') %>

</body>
</html>

