<!DOCTYPE html>
<html>
<head>
  <title>connections</title>
  
   <meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../assets/styling1.css">
<link rel="stylesheet" type="text/css" href="../assets/styling.css">


<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body >

<%- include ('./partials/header.ejs') %>

<%- include ('./partials/nav.ejs') %>
  <div>
    <% for(let z=0;z<errors_inp.length;z++) { %>
      <p> <%= errors_inp[z].msg %> </p>
      <% } %>
  </div>
  <form action="/login" method="post">
    <div class="imgcontainer">
      <img src="../assets/images/img_avatar.png" alt="Avatar" class="avatar">
    </div>
  
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username"  >
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password"  >
  
      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>

<%- include ('./partials/footer.ejs') %>

</body>