<!DOCTYPE html>
<html>
<head>
  <title>newConnections</title>
  
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../assets/styling.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<%- include ('./partials/header.ejs') %>

<%- include ('./partials/nav.ejs') %>

		<section>
        <div>
          <% for(let z=0;z<errors_inp.length;z++) { %>
            <p> <%= errors_inp[z].msg %> </p>
            <% } %>
      </div>
      <div class="newconnect_form">
        <form action = '/newConnection' method="POST">
          <table class="newconnect">
              <tr>
                <!-- connectionId, connection_name, connection_category, details, dateAndTime, hostedBy,venue,image -->
                <td><label class="label"> <b>Connection Category</b> </label></td>
                <td><input class="textbox" type="text" placeholder="Topic" name='connection_category'></td>
              </tr>
              <tr>
                <td><label class="label"> <B>Connection Name</B> </label></td>
                <td><input class="textbox" type="text" placeholder="Name" name='connection_name'></td>
              </tr>
              <tr>
                <td><label class="label"> <B>Connection Details</B> </label></td>
                <td><textarea rows="10" cols="100" placeholder="Details" name='details'> </textarea></td>
              </tr>
              <tr>
                <td><label class="label"> <B>Venue</B> </label></td>
                <td><input class="textbox" type="text" placeholder="Place" name='venue'></td>
              </tr>
              <tr>
                <td><label class="label"> <B>Date of the event</B> </label></td>
                <td><input class="textbox" type="date" name='dateAndTime'></td>
              </tr>
              <tr>
                <td><label class="label"> <B>Host of the Event</B> </label></td>
                <td><input class="textbox" type="text" name='hostedBy'></td>
              </tr>
              <tr>
                <td><label class="label"> <B>Input Image</B> </label></td>
                <td><input class="textbox" type="text" name='image'></td>
              </tr>
              <tr>

              
                <td colspan="2">
                  <input  type="submit" value="Submit">
                </td>
              </tr>
          </table>
        </form>
  	</div>
	</section>
  <footer>
    <%- include('partials/footer.ejs') %>
  </footer>
	</body>
</html>
