<!DOCTYPE html>
<html>
<head>
  <title>connections</title>
  
   <meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../assets/styling.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body >


<%- include ('./partials/header.ejs') %>

<%- include ('./partials/nav.ejs') %>
    
<main id="mainelem">
    <div>
    <h1>ARJUN BHARADWAJ - TRAVEL/ARCHITECTURAL PHOTOGRAPHER</h1>
    <p>Throughout much of my adult life, I’ve been travelling, seeking adventure and ways to learn from and interact with cultures which are very different from my own. </p>
    <p>
        Photography became a great excuse to look deeper and to make my experiences more intense.
    </p>
    <p>
        I originate from the Southern part of India.  I have always had a keen interest in capturing his vision of the world around him, from constantly sketching stuff as a young child to embarking on his first forays with my mobile camera.</p> 
    <p>
    <p> After leaving College at 21, I worked as an assistant on many prestigious advertising and editorial commissions, often abroad for weeks at a time.  </p>
    <p><em>Yet despite the early starts and late finishes, he would still find time to grab my own camera whenever and wherever I could. </em></p>
    <p> Developing my own style and collecting clients along the way until he felt the time was right to go it alone in 2013.</p>
    <p>I aam literally addicted to making photos…for which there is no known cure, except to make more.</p>
    <p> My travel & photography blog has become part of my journey to see the world in a new way and I’m pleased to share that vision with you. </p>
     <p>I love what I do, as well as the people and places I photograph. Each person and every place has its own story. But sometimes the best stories are the ones you star in.</p>
    <p></div>

</main >

<%- include ('./partials/footer.ejs') %>

  </body >
  </html>