<div class="footer">
    <a href="https://www.facebook.com" class="fa fa-facebook"></a>
    <a href="https://www.twitter.com" class="fa fa-twitter"></a>
    <a href="https://mail.google.com" class="fa fa-google"></a>
    <a href="https://www.linkedin.com/in/bharadwaj95" class="fa fa-linkedin"></a>
    <a href="https://www.youtube.com" class="fa fa-youtube"></a>
    <a href="https://www.instagram.com/bharadwaj95" class="fa fa-instagram"></a>
  
  <p > © Copyright 2020. All rights reserved </p>
  <p >All images text and ideas © Bharadwaj Arya</p>
  </div>
