<ul id="navelem">
  <li><a href="info">Info</a></li>
    <li><a href="connections">Connections</a></li>
    <!-- <li><a href="#contact">Portfolio</a></li> -->
   
    <li style="float: right;padding-top: 15px;padding-right: 15px;">Welcome to the Photography Tutorial hosted by Bharadwaj © ®</li>
  </ul>


  